*/version.txt
*.pyc
*.swp
build/
dist/
.coverage
.ipynb_checkpoints
*.iml
groupama/data/base_pno.*
.DS_Store
.idea/
notebooks/
*.ipynb
__pycache__/
*.egg-info
tax_deficit_simulator/data/large_scale_purely_domestic_groups.xlsx
