.download-button {
    background-color: white;
    border: 2px solid #f44336;
    color: black;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 1px;
    cursor: pointer;
    border-radius: 4px;
}

.table {
    border: 2px solid #f44336;
}

.pdf {
    border: 2px solid #767676;
}

.excel {
    border: 2px solid #234F1E;
}
